@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300;400&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
}

#root {
  display: grid;
}

body {
  background: url(../public/images/pxfuel.jpg) center no-repeat fixed;
  background-size: cover;
}

.headerContainer {
  text-align: center;
}

.card-loading {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  -webkit-transition: all 2s ease 0s;
  -moz-transition: all 2s ease 0s;
  -o-transition: all 2s ease 0s;
  -ms-transition: all 2s ease 0s;
  transition: all 2s ease 0s;

}

.is-loading .loading{
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    border-radius: 3px;
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
    opacity: 0.8;
  }

  .loading {
    height: 114px;
  }

  @keyframes shine {
    to {
      background-position-x: -200%;
    }
  }

.pokemons {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
 
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.modal-infos, .modal-type, .modal-stats-content {
  background-color: #3a373747;
  border-radius: 20px;
  padding: 10px;
  color: white;
}

.modal-infos {
  grid-area: infos;
}

.modal-type {
  grid-area: type;
}

.modal-stats-content {
  grid-area: stats;
}

.modal-type {
  margin: 22px 0px 22px 0px;
}

.modal-content {
  color: white;
}

.modal-infos h2, .modal-type h2, .modal-stats-content h2 {
  margin-top: 0px;
}

.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 850px;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 1px 1px 3px black;
}
.popup-arrow {
  color: rgb(255, 255, 255);
}
[role='tooltip'].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
}

.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  display: grid;
  text-transform: capitalize;
  padding: 0px;
  grid-template-areas:
        "img infos"
        "img type"
        "img stats";
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.pokeSearchContainer input {
  text-align: center;
  width: 450px;
  color: #3761A8;
  font-size: 1.5rem;
  height: 35px;
  border-radius: 10px;
  border: 1px solid #3761A8;
  margin-top: 10px;
  box-shadow: 1.5px 1.5px 3px;
  /* background-color: transparent; */
}

.inputSearchPokemon::-webkit-search-cancel-button{
  position:relative;
  right: 5px;  
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background-image: url("data:image/svg+xml;utf8,<svg  xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
  cursor: pointer;
}

.modal-abilities {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: -10px;
}

.modal-infos > div {
  margin-bottom: 10px;
}

.modal-img-content {
  text-align: center;
  border-radius: 20px;
  /* border-right: 2px solid #00000033; */
  box-shadow: 1.5px 1.5px 3px;
  margin-right: 12px;
  background: #fdfdfd94;
  grid-area: img;
}

.modal-image {
  border-right: 1px solid gray;
  margin-right: 20px;
}

.modal-stats {
  display: grid;
  grid-template-columns: 0.8fr 0.3fr 1fr;
  margin-bottom: 5px;
  text-align: left;
}

.pokeLogo {
  filter: drop-shadow(2px 2px 2px);
}

.pokeSearchContainer input::placeholder {
  color: #3761A8;
}

/* #3761A8 blue */
/* #FECA1B yellow */
.button {
  background-color: #FECA1B;
  color: #3761A8;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #3761A8;
  padding: 0.7rem 4rem;
  border-radius: 10px;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 1px;
  transition: all 0.6s ease;
  cursor: pointer;
  box-shadow: 1.5px 1.5px 3px;
}

.button:hover {
  background-color: #3761A8;
  border: 1px solid #FECA1B;
  color: #FECA1B;
}


.notFound {
  text-align: center;
  margin-top: 10%;
}

.notFound p {
  color: black;
  font-size: 3rem;
  font-weight: bold;
  margin: 0px;
}

.resultContainer {
  margin: 0px 15px 0px 15px;
}

.pokedex-pagination {
  display: flex;
  justify-content: center;
  margin: 0px auto;
  width: 175px;
  padding: 10px;
  margin-top: 10px;
  background-color: #feca1b;
  border: 1px solid #3761A8;
  border-radius: 15px;
  box-shadow: 1.5px 1.5px 3px;
}

.pokeHeader {
  padding-top: 10px;
}

.pokeHeader p {
  font-size: 1.2rem;
  color: black;
  margin: 5px;
  letter-spacing: 1px;
}

.pokedex-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(5, 1fr);
}


.pokemon-card {
  display: flex;
  border-radius: 3px;
  align-items: center;
  box-shadow: 1.5px 1.5px 3px;
  background: no-repeat url(../public/images/pokeball.svg) lightgray;
  background-position: right 17% bottom 45%;
  padding: 5px;
}

.pagination-container img {
  background-color: rgba(0, 0, 0, 0.16);
  border-radius: 50%;
  cursor: pointer;
}

.pagination-container div {
  font-size: 1.3rem;
  margin-top: 4px;
  color: #3761A8;
  letter-spacing: 1px;
  
}

.popup-content:has(div.modal-type > div > div:first-child.type-bug),.pokemon-card:has(div > div > div > div:first-child.type-bug) {
 background-color: #8BD674;
}

.popup-content:has(div.modal-type > div > div:first-child.type-grass),.pokemon-card:has(div > div > div > div:first-child.type-grass) {
  background-color: #8BBE8A;
 }

 .popup-content:has(div.modal-type > div > div:first-child.type-poison),.pokemon-card:has(div > div > div > div:first-child.type-poison) {
  background-color: #9F6E97;
 }

 .popup-content:has(div.modal-type > div > div:first-child.type-fire),.pokemon-card:has(div > div > div > div:first-child.type-fire) {
  background-color: #FFA756;
 }

 .popup-content:has(div.modal-type > div > div:first-child.type-water),.pokemon-card:has(div > div > div > div:first-child.type-water) {
  background-color: #58ABF6;
 }

 .popup-content:has(div.modal-type > div > div:first-child.type-normal),.pokemon-card:has(div > div > div > div:first-child.type-normal) {
  background-color: #B5B9C4;
 }

 .popup-content:has(div.modal-type > div > div:first-child.type-electric),.pokemon-card:has(div > div > div > div:first-child.type-electric) {
  background-color: #F2CB55;
 }

 .popup-content:has(div.modal-type > div > div:first-child.type-ground),.pokemon-card:has(div > div > div > div:first-child.type-ground) {
  background-color:  #F78551;
 }

 .popup-content:has(div.modal-type > div > div:first-child.type-fairy),.pokemon-card:has(div > div > div > div:first-child.type-fairy) {
  background-color:  #EBA8C3;
 }

 .popup-content:has(div.modal-type > div > div:first-child.type-dark),.pokemon-card:has(div > div > div > div:first-child.type-dark) {
  background-color:  #6F6E78;
 }

 .popup-content:has(div.modal-type > div > div:first-child.type-dragon),.pokemon-card:has(div > div > div > div:first-child.type-dragon) {
  background-color:  #7383B9;
 }

 .popup-content:has(div.modal-type > div > div:first-child.type-fighting),.pokemon-card:has(div > div > div > div:first-child.type-fighting) {
  background-color:  #EB4971;
 }

 .popup-content:has(div.modal-type > div > div:first-child.type-flying),.pokemon-card:has(div > div > div > div:first-child.type-flying) {
  background-color:  #83A2E3;
 }

 .popup-content:has(div.modal-type > div > div:first-child.type-ghost),.pokemon-card:has(div > div > div > div:first-child.type-ghost) {
  background-color:  #8571BE;
 }

 .popup-content:has(div.modal-type > div > div:first-child.type-ice),.pokemon-card:has(div > div > div > div:first-child.type-ice) {
  background-color:  #91D8DF;
 }

 .popup-content:has(div.modal-type > div > div:first-child.type-psychic),.pokemon-card:has(div > div > div > div:first-child.type-psychic) {
  background-color:  #FF6568;
 }

 .popup-content:has(div.modal-type > div > div:first-child.type-rock),.pokemon-card:has(div > div > div > div:first-child.type-rock) {
  background-color:  #D4C294;
 }

 .popup-content:has(div.modal-type > div > div:first-child.type-steel),.pokemon-card:has(div > div > div > div:first-child.type-steel) {
  background-color:   #4C91B2;
 }

 .pokemon-name {
  margin-right: 7px;
}

.pokemon-image img {
  width: 100px;
  height: 100px;

  cursor: pointer;
  transition: all 0.2s ease;
}

.pokemon-image img:hover {
  filter: drop-shadow(2px 2px 2px);
}

.pokemon-image-container {
  padding: 0px 5px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 10px 10px 0px;
  flex: 1;
}

.card-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: -15px;
}

.card-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-top h3 {
  text-transform: capitalize;
}

.pokemon-type {
  display: flex;
}

.pokemon-type div {
  margin-right: 10px;
  text-transform: capitalize;
  border-radius: 4px;
  padding: 1px 3px 3px 3px;
  color: black;
  font-weight: 500;
  letter-spacing: 1px;
  box-shadow: 0 1px 2px rgba(43,42,51,1);
  /* border: 1px solid black; */
}

.type-poison {
  background-color: #A552CC;
}

.type-grass {
  background-color: #62B957;
}

.type-fire {
  background-color: #FD7D24;
}

.type-water {
  background-color: #4A90DA;;
}

.type-normal {
  background-color: #9DA0AA;
}

.type-flying {
  background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
}
.type-fighting {
  background-color: #D04164;
}

.type-electric {
  background-color: #EED535;
}
.type-ground {
  background-color: #DD7748;
}
.type-rock {
  background-color: #BAAB82;
}
.type-psychic {
  background-color: #EA5D60;
}
.type-ice {
  background-color: #61CEC0;
}
.type-bug {
  background-color: #8CB230;
}
.type-ghost {
  background-color: #556AAE;
}
.type-steel {
  background-color: #417D9A;
}
.type-dragon {
  background-color: #0F6AC0;
}
.type-dark {
  background-color: #58575F;
}
.type-fairy {
  background-color: #ED6EC7;
}

.pagination-container {
  display: flex;
  gap: 5px;
}

.pokemon-heart-btn {
  border: 0;
  background: none;
  margin-left: 2px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1550px) {
  .pokedex-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .card-loading {
    grid-template-columns: repeat(4, 1fr);
  }
  

}

@media (max-width: 1272px) {
  .pokedex-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .card-loading {
    grid-template-columns: repeat(3, 1fr);
  }

  .pokedex-pagination {
    position: fixed;
    bottom: 6px;
    background-color: #feca1b;
    border: 1px solid #3761A8;
    left: 50%;
    border-radius: 15px;
    transform: translate(-50%, 0);
    box-shadow: 1.5px 1.5px 3px;
  }
}

@media (max-width: 967px) {
  .pokedex-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .card-loading {
    grid-template-columns: repeat(2, 1fr);
  }

  .modal-img {
    height: 200px;
  }

  .modal > .content {
    grid-template-areas:
    "img "
    "infos"
    "type"
    "stats";
}
.popup-content {
  width: 335px;
  overflow: auto;
  height: 450px;
}
.modal-img-content {
  margin-right: 0px;
  margin-bottom: 10px;
}

.modal-type {
  margin: 10px 0px 10px 0px;
}

.modal > .close {
  right: 15px;
  top: 15px;
  background-color: transparent;
  border: none;
}
  
}

@media (max-width: 649px) {
  .pokedex-grid {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 70px;
  }

  .card-loading {
    grid-template-columns: repeat(1, 1fr);
  }

  .pokeSearchContainer input {
    width: 365px;
  }

}

